
<FluentCard Width=""
            Height=""
            Class="p-4 shadow">
    <h4 class="mb-4">@Title</h4>
    @if (IncludeMainBtn)
    {
        <FluentButton IconStart="@(new Icons.Regular.Size16.AddCircle())"
                      Loading="@Loading"
                      OnClick="@OnBtnMainClick"
                      Name="BtnMain"
                      Class="mb-3"
                      Appearance="Appearance.Accent">
            Create @Title
        </FluentButton>
    }

    @RawTemplate

    <FluentOverlay Visible=@Visible
                   Opacity="0.4"
                   Alignment="@alignment"
                   Justification="@justification"
                   Dismissable=true>
        <FluentProgressRing />
    </FluentOverlay>

</FluentCard>
