@* To get access to all Fluent UI System icons, install the Microsoft.FluentUI.AspNetCore.Compoents.Icon package *@
@* See all the diffeent ways on how to use icons at https://www.fluentui-blazor.net/Icon *@

<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Evolution Technology">
        <FluentNavLink Href="/" Match="NavLinkMatch.All"
                       Icon="@(new Icons.Regular.Size16.Home())" IconColor="Color.Accent">
            Home
        </FluentNavLink>
        <FluentNavLink Href="@AppRouter.Products"
                       Icon="@(new Icons.Regular.Size16.Apps())" IconColor="Color.Accent">
            Product
        </FluentNavLink>
        <FluentNavLink Href="@AppRouter.Customer"
                       Icon="@(new Icons.Regular.Size16.People())" IconColor="Color.Accent">
            Customer
        </FluentNavLink>
        <FluentNavGroup Title="Patient Movement"
                        Icon="@(new Icons.Regular.Size16.PersonBoard())" IconColor="Color.Accent">
            <FluentNavLink Href="@AppRouter.PatientMovement"
                           Icon="@(new Icons.Regular.Size16.PeopleList())" IconColor="Color.Accent">
                All Patients
            </FluentNavLink>
            <FluentNavLink Href="@AppRouter.PatientMovementById"
                           Icon="@(new Icons.Regular.Size16.PersonSearch())" IconColor="Color.Accent">
                Patient
            </FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</nav>