@* To get access to all Fluent UI System icons, install the Microsoft.FluentUI.AspNetCore.Compoents.Icon package *@
@* See all the diffeent ways on how to use icons at https://www.fluentui-blazor.net/Icon *@

<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Evolution Technology">
        <FluentNavLink Href="/" Match="NavLinkMatch.All"
                       Icon="@(new Icons.Regular.Size16.Home())" IconColor="Color.Accent">
            Home
        </FluentNavLink>
        <FluentNavLink Href="product"
                       Icon="@(new Icons.Regular.Size16.Apps())" IconColor="Color.Accent">
            Product
        </FluentNavLink>
        <FluentNavLink Href=""
                       Icon="@(new Icons.Regular.Size16.People())" IconColor="Color.Accent">
            Customer
        </FluentNavLink>
        <FluentNavLink Href=""
                       Icon="@(new Icons.Regular.Size16.PersonBoard())" IconColor="Color.Accent">
            Patient Movement
        </FluentNavLink>
        <FluentNavGroup Title="Test Group"
                        Icon="@(new Icons.Regular.Size16.Apps())" IconColor="Color.Accent">
            <FluentNavLink Href=""
                           Icon="@(new Icons.Regular.Size16.AppsAddIn())" IconColor="Color.Accent">
                Test item
            </FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</nav>