@inherits PatientMovementBase
@attribute [Route(AppRouter.PatientMovement)]

<PageTitle>@Title</PageTitle>

<h3 class="mb-5">@Title</h3>

<FluentGridCardWidget Title="@Title"
                      OnBtnMainClick="@OnCreateClick"
                      OnBtnExportCsvClick="@OnBtnExportCsvClick"
                      OnBtnExportPdfClick="@OnBtnExportPdfClick"
                      Visible="@Overlay"
                      IncludeMainBtn=true
                      IncludeExportCsvBtn=true
                      IncludeExporPdfBtn=true>
    <RawTemplate>
        <FluentDataGrid Items="@Filtereditems"
                        ResizableColumns=false
                        Pagination="@pagination"
                        GridTemplateColumns="0.4fr 0.2fr 0.4fr 0.2fr 0.1fr"
                        Style="height: 405px; overflow:auto;">
            <PropertyColumn Property="@(c => c.Doctor.Name)"
                            Sortable="true"
                            Tooltip="true"
                            Title="Doctor Name">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search"
                                      Autofocus=true
                                      @bind-Value=nameFilter
                                      @oninput="HandleNameFilter"
                                      @bind-Value:after="HandleClear"
                                      Placeholder="Search by Name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(p => p.Product.Name)" Sortable="true" Title="Product Name" />
            <PropertyColumn Property="@(p => p.Customer.Name)" Sortable="true" Title="Customer Name" />
            <PropertyColumn Property="@(p => p.CreatedDate)" Sortable="true" Title="Created Date" Format="dd/MM/yyyy" />

            <TemplateColumn Title="Actions"
                            Tooltip=true
                            Context="_context">
                <FluentButton IconStart="@(new Icons.Regular.Size16.Delete().WithColor(AppColors.BtnDelete))"
                              Name="Delete"
                              Id="btnDelete"
                              OnClick="@(()=> OnDeleteClick(_context.Id))">
                </FluentButton>
            </TemplateColumn>
        </FluentDataGrid>

        <FluentPaginator State="@pagination" />
    </RawTemplate>

</FluentGridCardWidget>

