@inherits PatientMovementByCustomerBase
@attribute [Route(AppRouter.PatientMovementByCustomer)]

<PageTitle>@Title</PageTitle>

    <h3 class="mb-5">@Title</h3>

<FluentCombobox Label="Patients List"
                Placeholder="Select Patient"
                Class=" mb-3"
                Autocomplete="ComboboxAutocomplete.Inline"
                Items="CustomersList"
                OptionValue="@(p=>p?.Id.ToString())"
                OptionText="@(p=>p?.Name)"
                @bind-SelectedOption="@SelectedCustomer"
                ValueChanged="@(() => FetchItemsAsync())" />

@if (SelectedCustomer is not null)
{
    <FluentTextField @bind-Value="@SelectedCustomer.Phone"
                     Placeholder="Phone"
                     Class=" mb-4"
                     ReadOnly=true
                     Label="Phone" />
}


<FluentGridCardWidget Title="@Title"
                      Visible="@Overlay"
                      IncludeMainBtn=false>
    <RawTemplate>

        <FluentDataGrid Items="@(Filtereditems)"
                        ResizableColumns=false
                        Pagination="@pagination"
                        GridTemplateColumns="0.4fr 0.4fr 0.3fr 0.1fr"
                        Style="height: 405px; overflow:auto;">
            <PropertyColumn Property="@(c => c.Barcode)"
                            Sortable="true"
                            Tooltip="true"
                            Title="Product Code">
            </PropertyColumn>
            <PropertyColumn Property="@(p => p.Customer.Name)" Sortable="true" Title="Customer Name" />
            <PropertyColumn Property="@(p => p.CreatedDate)"
                            Sortable="true"
                            Title="Created Date"
                            Format="dd/MM/yyyy">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search"
                                      Autofocus=true
                                      @bind-Value=nameFilter
                                      @oninput="HandleNameFilter"
                                      @bind-Value:after="HandleClear"
                                      Placeholder="Search by date..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            <TemplateColumn Title="Actions"
                            Tooltip=true
                            Context="_context">
                <FluentButton IconStart="@(new Icons.Regular.Size16.Delete().WithColor(AppColors.BtnDelete))"
                              Name="Delete"
                              Id="btnDelete"
                              OnClick="@(()=> OnDeleteClick(_context.Id))">
                </FluentButton>
            </TemplateColumn>
        </FluentDataGrid>

        <FluentPaginator State="@pagination" />
    </RawTemplate>

</FluentGridCardWidget>

