@inherits ProductBase
@page "/product"

<PageTitle>Products</PageTitle>

<h3 class="mb-5">Products</h3>

<TableWidget Items="productList"
             Title="Products"
             OnClickCreate="@OnCreateClick"
             Loading="@loading">
    <HeaderTemplate>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Details</th>
            <th></th>
        </tr>
    </HeaderTemplate>
    <RowTemplate Context="product">
        <tr>
            <td>@product.Number</td>
            <td>@product.Name</td>
            <td>@product.Details</td>
            <td>
                <FluentButton Value="@product.Id.ToString()"
                              IconStart="@(new Icons.Regular.Size16.Delete().WithColor("white"))"
                              Color="white"
                              BackgroundColor="@(ColorConst.BtnDelete)"
                              OnClick="@(()=> OnDeleteClick(@product.Name))"
                              Loading="@loading">
                </FluentButton>
                <FluentButton Value="@product.Id.ToString()"
                              IconStart="@(new Icons.Regular.Size16.Edit().WithColor("white"))"
                              Color="white"
                              BackgroundColor="@(ColorConst.BtnEdit)"
                              OnClick="@OnCreateClick"
                              Loading="@loading">
                </FluentButton>
            </td>
        </tr>
    </RowTemplate>
</TableWidget>


