@inherits ProductBase
@page "/product"

<PageTitle>Products</PageTitle>

<h3 class="mb-5">Products</h3>

<FluentGridCardWidget Title="Title"
                      Loading=@loading
                      OnBtnMainClick="@OnCreateClick">
    <RawTemplate>
        <FluentDataGrid Items="@Filtereditems"
                        ResizableColumns=false
                        Pagination="@pagination"
                        GridTemplateColumns="0.2fr 0.8fr 1fr 0.3fr"
                        Style="height: 405px; overflow:auto;">

            <PropertyColumn Property="@(p => p.Number)" Sortable="true" />
            <PropertyColumn Property="@(c => c.Name)"
                            Sortable="true"
                            Tooltip="true"
                            Title="Name">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search"
                                      Autofocus=true
                        @bind-Value=nameFilter
                        @oninput="HandleNameFilter"
                        @bind-Value:after="HandleClear"
                                      Placeholder="Search by Name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(p => p.Details)" Sortable="true" />

            <TemplateColumn Title="Actions"
                            Tooltip=true>
                <FluentButton IconStart="@(new Icons.Regular.Size16.Edit().WithColor("white"))"
                              Appearance="Appearance.Accent"
                              Color="white"
                              Loading=false
                              Name="Edit">
                </FluentButton>
                <FluentButton IconStart="@(new Icons.Regular.Size16.Delete().WithColor("white"))"
                              Color="white"
                              BackgroundColor="@(ColorConst.BtnDelete)"
                              Loading=false
                              Name="Delete">
                </FluentButton>
            </TemplateColumn>

        </FluentDataGrid>

        <FluentPaginator State="@pagination" />
    </RawTemplate>

</FluentGridCardWidget>
